/*=====================================HEADER=======================================*/
.swiper {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 6rem;
}

.header__container {
  position: relative;
}

header img {
  height: 100%;
}

.slide {
  position: relative;
  cursor: pointer;
}

.slide > span {
  display: inline-block;
  width: 100%;
  height: 35rem;
}

.slide h1 {
  font-size: 4rem;
}

.slide .description {
  position: absolute;
}

.slide-1 .description {
  text-align: center;
  left: 10%;
  top: 40%;
}

.slide-1 .description h1 {
  color: whitesmoke;
}

.slide-1 .description h2 {
  color: rgb(141, 0, 0);
}

.slide-3 .description {
  top: 30%;
  left: 5rem;
}

.slide-3 .description h1 {
  color: rgb(253, 4, 4);
}

.slide-3 .description h2 {
  color: whitesmoke;
}

.slide-4 .description {
  right: 3rem;
  top: 30%;
}

.slide-5 .description {
  top: 20%;
  left: 3rem;
  color: whitesmoke;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 25px;
  color: red;
  font-weight: bold;
}

.types__container {
  display: grid;
  margin-top: 4rem;
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem;
}

.type {
  background-color: var(--color-3);
  padding: 2rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

.type > h5 {
  margin-top: 10px;
  text-align: center;
}

.type:hover {
  transform: translateY(-1rem);
  background-color: var(--color-1);
}


/*===================================JUST IN========================================*/
.just-in__container {
  display: grid;
  margin-top: 4rem;
  gap: 1rem;
  grid-template-columns: 70% 30%;
}

.just-in__container img {
  height: 100%;
}

.just-in-description {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.container-1 {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.box1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 400px;
}

.box2 span {
  display: inline-block;
  height: 400px;
  width: 100%;
}

.container-2 span {
  display: inline-block;
  height: 100%;
}

.container-2 > .just-in-description {
  height: 816px;
}

.just-in-description img {
  transition: var(--transition);
}

.just-in-description:hover img {
  transform: scale(1.2);
}

.just-in-category {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(149, 148, 146, 0.7);
}

.box1 .just-in-category {
  transform: translateY(-50rem);
  transition: var(--transition);
}

.box2 .just-in-category {
  transform: translateY(50rem);
  transition: var(--transition);
}

.container-2 .just-in-category {
  transform: translateX(50rem);
  transition: var(--transition);
}

.just-in-category h2 {
  color: white;
}

.just-in-category button {
  color: white;
  background-color: transparent;
  font-size: 1rem;
  border: 3px solid white;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

.just-in-description:hover .just-in-category {
  transform: translateY(0);
}

.just-in-category button:hover {
  background-color: var(--color-2);
}


/*====================================TRENDING======================================*/
.swiper__2 {
  width: var(--container-width-lg);
  margin: 0 auto;
  padding: 6rem 0;
}

.swiper__2 .swiper-button-next:after, .swiper__2 .swiper-button-prev:after {
  font-size: 25px;
  color: black;
  font-weight: bold;
  border-radius: 50%;
  opacity: 0.7;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  padding: 0.5rem 0.8rem;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title > a {
  transition: var(--transition);
}

.title > a:hover {
  color: red;
}


.trending__container {
  position: relative;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding: 1rem 2rem;
}

.title .redirect {
  color: black;
}

.trending {
  padding: 1rem;
  transition: var(--transition);
  border-radius: 7px;
}

.trending:hover {
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.product__header {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.product__header > span img {
  border-radius: 50%;
  width: 40.17px;
  height: 40.17px;
}

.product__details {
  cursor: pointer;
}

.product__details > span {
  width: 100%;
}

.product__details > span > img {
  height: 209.4px;
  border-radius: 7px;
}

.product__details span {
  display: inline-block;
  margin: 1rem 0;
}

.favourites {
  display: flex;
  align-items: center;
  margin: 1rem 0 0;
}

.favourites .icon {
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 5px;
}


/*====================================SLASHED=======================================*/
.product__details .new__price {
  display: flex;
  gap: 10px;
  align-items: top;
}

.product__details .new__price h5 {
  font-weight: normal;
  text-decoration: line-through;
}


/*==================================RECOMMENDED=====================================*/
.recommended__container {
  margin-top: 4rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  position: relative;
}

.recommended__container .product__details > span > img {
  height: 300px;
  border-radius: 7px;
}

.recommended__container a {
  position: absolute;
  left: 50%;
  bottom: -5rem;
  margin-left: -66.5px;
  display: inline-block;
  color: black;
  border: 1px solid rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: var(--transition);
}

.recommended__container a:hover {
  background-color: var(--color-3);
}

/*=====================================FOOTER=======================================*/
footer {
  background-color: var(--color-1);
}

.footer__container {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__container h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.footer__container a {
  color: black;
  margin-bottom: 15px;
  text-decoration: underline;
  text-decoration-color: var(--color-1);
  transition: var(--transition);
}

.footer__container a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.permalinks, .legal, .contact-us {
  display: flex;
  flex-direction: column;
}

.contact-us > ul > li {
  margin-bottom: 15px;
}

.contact__socials {
  display: flex;
  gap: 1rem;
}

.contact__socials li {
  font-size: 1.5rem;
}

@media screen and (max-width:1024px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:600px) {
  .footer__container {
    grid-template-columns: 1fr;
  }
}
